    <div class="row">
      <div class="col-md-4">
        <h2>Register an account</h2>
        <p>MyThoughtRecord is a completely free service. We will never collect your data and sell it to other third parties. Get your free account now and start organizing your thought records!</p>
        <p><%= link_to 'Register &raquo;'.html_safe, new_user_registration_path, class: "btn btn-default" %></p>
      </div>
      <div class="col-md-4">
        <h2>What's a thought record?</h2>
        <p>Thought record is a tool used extensively as part of cognitive-behvaioral therapy (CBT). If you are seeing a CBT therapist, you may often be asked to keep a thought journal.</p>
        <p><%= link_to 'Learn more &raquo;'.html_safe, about_path, class: "btn btn-default" %></p>
     </div>
      <div class="col-md-4">
        <h2>Got a question?</h2>
        <p>Send us a message! We are always here to answer yoru questions and we are open to suggestions of new features. Don't hesitate to contact us.</p>
        <p><%= link_to 'Send us a messsage &raquo;'.html_safe, contact_path, class: "btn btn-default" %></p>
      </div>
    </div>