<%= render 'shared/content_title', title: "About" %>
<h4>Those who have participated in cognitive-behavioral therapy (CBT) will not be a stranger to the thought record sheet. Thought record is a tool used extensively as part of CBT.</h4>
<br><br>
<div class="row">
  <div class="col-md-4">
    <h1>What is cognitive-behavioral therapy?<h1>
  </div>
  <div class="col-md-8">
    <p>CBT is one of the most popular approaches to mental therapy today. CBT believes that we experience uncomfortable feelings such as anxiety or depression because we have been used to irrational thoughts. CBT attempts to provide the patient with alternative perspectives to look at the situation, which steers the patient towards more positive thoughts.</p>

    <p>For example, I may believe that Betty must hate me because she didn't say 'hi' to me today. As a patient, I have jumped from one fact to the other, completely forgetting other possibilities: maybe Betty had a bad hair day and is trying to stay away from people; maybe Betty was super busy today and so occupied in her thoughts that she didn't notice me and so on.</p>

    <p>By altering our thoughts to a more realistic perspective, we learn not to jump to conclusions and that the situation on-hand may not be as bad as we had thought. Once we realize that their may be a myriad of possibilites why Betty ignored us, we also start to feel better emotionally and physically.</p>

    <p>As patients gain skills in assessing stressful situations, they learn to stop and take a breath when they encounter an emotional trigger, and view the situation in a more realistic manner, thus improving their emotional well-being.</p>
  </div>
</div>
<br><BR><br><BR>
<div class="row">
  <div class="col-md-4">
    <h1>What is a thought record?<h1>
  </div>
  <div class="col-md-8">
    <p>To assist patients in their quest, cognitive-behavioral therapists uses a tool called "thought record". This has typically been a sheet of paper with 7 columns, in which the patient has to fill out when they are not in their therapy sessions.</p>

    <p>In a patient's day-to-day life, when he/she encounters an emotional trigger, they are asked to record it on this sheet of paper. As patients get used to filling in their thought record sheet, they begin to learn how to step back in situations and find a more realistic perspective on their own.</p>

    <p>There are many variations on the thought record but it usually consists of these items:</p>
      <ul>
        <li>Situation: What's the emotional trigger? What happened?</li>
        <li>Moods: How did it make you feel physically and emotionally?</li>
        <li>Automatic thoughts/images: What kind of thoughts immediately came to mind?</li>
        <li>Supporting facts: What evidence can you find that supports your belief?</li>
        <li>Disproving facts: What evidence disproves your belief?</li>
        <li>Alternative perspective: Is there another way to view this situation?</li>
        <li>Rate mood again: How do you feel now?</li>
      </ul>
  </div>
</div>
<br><BR><br><BR>
<div class="row">
  <div class="col-md-4">
    <h1>Using MyThoughtRecord<h1>
  </div>
  <div class="col-md-8">
    <p>The traditional pen and paper method has always resulted in a messy sheet - we often run out of space in the columns. It's difficult to keep all the items aligned when there are so many columns on a single A4 sheet! It's also a pain to keep the sheet with you wherever you go.</p>

    <p>That's why we came up with this free service, called MyThoughtRecord, so that we can easily input our thought record on-the-go. We make sure that our website is mobile-optimized, as we understand that most of the time when triggers happen, the thing that's most in reach is usually not pen-and-paper nor a laptop, but your mobile phone.</p>

    <p>In MyThoughtRecord's implementation, we have adopted the most traditional 7-column format, popularized by Dr. Beck. You can view it in a horizontal per-record format or in the traditional table format. Regardless, as a user, you no longer have to worry about formatting as that is all handled by MyThoughtRecord.</p>
  </div>
</div>