    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-5 jumbotron-text">
            <h1>Still using pen and paper?</h1>
            <p>Switch over to MyThoughtRecord now and store all your thought records for your therapy on the cloud, neatly and securely.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>